<div class="col-xs-6">




  <label>Performance Category</label>
  <select [(ngModel)]="selectedPerformanceCategory" name="performancecategory" (ngModelChange)="onPerformanceCategorySelected($event)"
    class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
    <option *ngFor="let item of performancecategories" [ngValue]="item" >{{item.description}}</option>
   
  </select>


  <div *ngIf="selectedPerformanceTemplate">
    <label>KPI</label>
    <select [(ngModel)]="selectedLineItem" name="lineitem" (ngModelChange)="onKpiSelected($event)" class="form-control select2 select2-hidden-accessible"
      style="width: 100%;" tabindex="-1" aria-hidden="true">
    <option *ngFor="let lineitem of selectedPerformanceTemplate.lineitems" [ngValue]="lineitem" >{{lineitem.kpi}}</option>
    
    </select>
  </div>



  <label>Commitment</label>
  <input type="number" [(ngModel)]="commitment" name="commitment" class="form-control" rows="3" placeholder="Enter ...">
  <div style="margin-top:20px;">

  </div>
</div>


<div class="col-xs-6">


  <label>Computational Basis</label>
  <textarea class="form-control" placeholder="" value="{{selectedLineItem.computationbasis}}" disabled></textarea>
  <label>Weight</label>
  <input type="text" class="form-control" placeholder="" value="{{selectedLineItem.weight}}" disabled>
  <button style="margin-top:35px;" type="submit" (click)="save()" class="btn btn-info pull-right fa-save">Save</button>
  <button style="margin-top:35px; margin-right:10px;" type="submit" class="btn btn-info pull-right fa-save">View Commitment</button>
</div>

<table class="table table-hover">



  <tr>
    <th>Performance Category</th>
    <th>KPI</th>
    <th>Computational Basis</th>
    <th>Weight</th>
    <th>Commitment</th>
    <th>&nbsp;</th>


  </tr>
  <tr style=" border:1px;" *ngFor="let item of selectedPerformanceTemplate.lineitems">

    <td>{{selectedPerformanceCategory.description}}</td>

    <td>{{item.kpi}}</td>
    <td>{{item.computationbasis}}</td>
    <td>{{item.weight}}</td>
    <td>{{item.commitment}}</td>

    <td> <button type="submit" class="btn btn-info pull-right fa-save">Detail</button></td>
  </tr>
  <tr>

  </tr>
</table>