<div class="box box-warning">
  <div class="box-header with-border">
    <h3 class="box-title">Competency Measurement</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <form role="form">
      <!-- text input -->


      <div class="form-group">
        <label>Competency Type</label>
        <select [(ngModel)]="selectedCompetencyType" name="competencytype" (ngModelChange)="onCompetencytypeSelected($event)" class="form-control select2 select2-hidden-accessible"
          style="width: 100%;" tabindex="-1" aria-hidden="true">
  <option *ngFor="let competencytypeitem of competencytypes" [ngValue]="competencytypeitem" >{{competencytypeitem.description}}</option>
 
</select>
      </div>
      <div class="form-group">



        <label>Description</label>
        <textarea class="form-control" [(ngModel)]="description" name="description" placeholder="Enter ..."></textarea>
      </div>
      <!-- textarea -->

      <button type="submit" (click)="save()" class="btn btn-info pull-right fa-save">Save</button>
    </form>
  </div>
  <!-- /.box-body -->
</div>

<div class="box">
  <div class="box-header">
    <h3 class="box-title">Competency Item Detail List</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

      <div class="row">
        <div class="col-sm-12">
          <table id="example1" class="table table-bordered table-striped dataTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
            aria-describedby="example1_info">
            <thead>
              <tr role="row">

                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
                  style="width: 223px;">
                  Description
                </th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
                  style="width: 223px;">
                  Status
                </th>


                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
                  style="width: 223px;">Edit</th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
                  style="width: 223px;">Detail</th>
                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
                  style="width: 223px;">Manage</th>

              </tr>

            </thead>
            <tbody>
              <tr role="row" class="odd" *ngFor="let item of competencytemplates">
                <td>{{item.description }}</td>
                <td>{{item.status }}</td>

                <td><button type="button" (click)="edit(item)" class="btn btn-info btn-flat">Edit</button></td>
                <td><button type="button" (click)="detail(item)" class="btn btn-info btn-flat">Detail</button></td>
                <td><button type="button" (click)="manage(item)" class="btn btn-info btn-flat">Manage</button></td>
              </tr>

            </tbody>

          </table>
        </div>
      </div>

    </div>
  </div>
  <!-- /.box-body -->
</div>