<!-- /.info-box -->


<div>
  <div class="col-md-6">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Jobholder Competency Appraisal</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form">
        <div class="box-body">

          <div class="form-group">
            <label>Competency Type</label>
            <select class="form-control">
                                <option></option>
                                 <option></option>
                                <option></option>
                                <option></option>
                                
                              </select>
          </div>
          <div class="form-group">
            <label>Competency Item</label>
            <select class="form-control">
                                <option></option>
                                <option></option>
                               
                                
                              </select>
          </div>



          <div class="form-group">
            <label>Competency Rating</label>
            <select class="form-control">
                                <option></option>
                                
                                
                                
                              </select>
          </div>


          <!-- /.box -->



          <div class="box-footer">
            <a class="btn btn-app" style="background-color:dodgerblue;color:white;">
                             <i class="fa fa-save"></i> Save
                           </a>
          </div>

        </div>
        <!-- /.box-body -->


      </form>
    </div>

  </div>


  <div class="col-md-6">
    <!-- Horizontal Form -->



    <div class="box box-info">

      <!-- /.box-header -->
      <!-- form start -->


      <div class="info-box bg-blue">
        <span class="info-box-icon"><i class="fa fa-calendar"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Appraisal Period</span>
          <span class="info-box-text">8th Jan - 8th April</span>


          <span class="progress-description">
                               1st Quater Appraisal
                              </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->








      <div class="form-group">

        <div class="col-md-3">

          <!-- /.box -->
        </div>
      </div>






      <!-- /.box -->
      <!-- general form elements disabled -->

      <!-- /.box -->
    </div>



  </div>


</div>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Financial</h3>

        <div class="box-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive padding">
        <table class="table table-hover">
          <tr>
            <th>Compitency</th>
            <th>Effectivness</th>
            <th>Compitency Level</th>
            <th>Skilled</th>
            <th>Job Holders Rating</th>
            <th>Supervisors Rating</th>


          </tr>
          <tr style="background-color:lightgray">

            <td>Compitency Description</td>

            <td>
              <ul>
                <li>Identifies concepts for new programmes of services to shapes</li>
                <li>maintains composure and attention in high pressured situations</li>
                <li>Impliments strategic objectives and develops metrics to assess attainment of set goal</li>
              </ul>
            </td>
            <td></td>
            <td></td>
          </tr>








        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>