<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">Competency Item Detail Setup</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <form role="form">
            <!-- text input -->
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" [(ngModel)]="detaildescription" name="detaildescription" placeholder="Enter ..."></textarea>
            </div>
            <!-- textarea -->
            <div class="form-group">
                <label>Order Nos</label>
                <input type="text" class="form-control" rows="3" [(ngModel)]="detailordernos" name="detailordernos" placeholder="Enter ...">
            </div>
            <button type="submit" (click)="save()" class="btn btn-info pull-right fa-save">Save</button>
        </form>
    </div>
    <!-- /.box-body -->
</div>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Competency Item Detail List</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                        aria-describedby="example1_info">
                        <thead>
                            <tr role="row">

                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
                                    style="width: 223px;">
                                    Description
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
                                    style="width: 223px;">
                                    Order Number
                                </th>


                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
                                    style="width: 223px;"></th>

                            </tr>

                        </thead>
                        <tbody>
                            <tr role="row" class="odd" *ngFor="let item of data">
                                <td>{{item.description }}</td>
                                <td>{{item.ordernos }}</td>

                                <td><button type="button" (click)="onselectcompetencydetailitem(item)" class="btn btn-info btn-flat">...</button></td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>
    <!-- /.box-body -->
</div>