<app-profile [userdetails]="user" (goalsettingevent)="setSubordinateGoal($event)"></app-profile>

<h3>Perfromance Result - 60%</h3>


<ul>
  <li>5 - Significantly Exceeded All Expectations and Set new Standards </li>

  <li>4 - Exceeded Expectations </li>

  <li>3 - Duly Met Expectations </li>

  <li>2 - Partialy Met Expectations </li>

  <li>1 - Did not meet Expectations </li>
</ul>

<div>
  <table class="table table-hover" style="background-color:#ffffff;">

    <tr style="background-color:lightgray">
      <th>Financial</th>
    </tr>
    <tr>
      <th>KPI</th>
      <th>Weight</th>
      <th>Target</th>
      <th>Actual</th>
      <th>Scale</th>
      <th>Comments</th>


    </tr>
    <tr style=" border:1px;">

      <td>Staff cost to income Ratio</td>

      <td>5%</td>
      <td>28%</td>
      <td>3</td>
      <td>5</td>
      <td>Not impressed with your work</td>
    </tr>
    <tr>

    </tr>
  </table>


</div>

<div style="background-color:#ffffff;">
  <table class="table table-hover">

    <tr style="background-color:lightgray">
      <th>StakeHolders</th>
    </tr>
    <tr>
      <th>KPI</th>
      <th>Weight</th>
      <th>Target</th>
      <th>Actual</th>
      <th>Scale</th>
      <th>Comments</th>


    </tr>
    <tr style=" border:1px;">

      <td>Staff cost to income Ratio</td>

      <td>5%</td>
      <td>28%</td>
      <td>3</td>
      <td>5</td>
      <td>Not impressed with your work</td>
    </tr>
    <tr>

    </tr>
  </table>


</div>


<div>
  <table class="table table-hover" style="background-color:#ffffff;">

    <tr style="background-color:lightgray">
      <th>Internal Efficiency</th>
    </tr>
    <tr>
      <th>KPI</th>
      <th>Weight</th>
      <th>Target</th>
      <th>Actual</th>
      <th>Scale</th>
      <th>Comments</th>


    </tr>
    <tr style=" border:1px;">

      <td>Staff cost to income Ratio</td>

      <td>5%</td>
      <td>28%</td>
      <td>3</td>
      <td>5</td>
      <td>Not impressed with your work</td>
    </tr>
    <tr>

    </tr>
  </table>


</div>


<div>
  <table class="table table-hover" style="background-color:#ffffff;">

    <tr style="background-color:lightgray">
      <th>Learning and Development</th>
    </tr>
    <tr>
      <th>KPI</th>
      <th>Weight</th>
      <th>Target</th>
      <th>Actual</th>
      <th>Scale</th>
      <th>Comments</th>


    </tr>
    <tr style=" border:1px;">

      <td>Staff cost to income Ratio</td>

      <td>5%</td>
      <td>28%</td>
      <td>3</td>
      <td>5</td>
      <td>Not impressed with your work</td>
    </tr>
    <tr>
      <tr>
        <th><label><h4>Total Score</h4></label></th>
        <th style="margin-left:20x; color:crimson;">45</th>
      </tr>
  </table>





</div>


<!-- /.col -->