<h4 style='color:darkcyan'>{{template.description}}</h4>
<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header">


        <div class="box-tools">

        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive padding">
        <table class="table table-hover" *ngFor="let item of template.lineitems">
          <tr>

            <th style="background-color:#828181">{{item.competencyitem}}</th>
            <th style="background-color:#9a9999">Proficiency Level</th>

          </tr>
          <tr style="background-color:#FFFFFF">
            <td>
              <ul>
                <li *ngFor="let line of item.competencyitemdetails">{{line.description}}</li>

              </ul>
            </td>
            <td style="background-color:#FFFFFF">{{item.proficiencylevel}}</td>
          </tr>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>