<div class="row">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Final Ratings Template Header</h3>
    </div>





    <form role="form">
      <div class="box-body">
        <div class="form-group col-md-6">
          <label for="exampleInputEmail1">Description</label>
          <input class="form-control" placeholder="Description">
        </div>


      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Next</button>
      </div>
    </form>






  </div>

</div>